<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/main.css">
</head>
<body>
    <h1>Grazie per esserti registrato, ecco le tue INFORMAZIONI:</h1>
    <pre>
        Password: {{ps}}
        Email: {{email}}
        Autorizzazione a scopi pubblicitari: {{permission}}
        Username: {{username}}
        data nascita: {{data}}
    </pre>

</body>
</html>